<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Favorite Tech Blog!</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

    <div class="nav-wrap">
        <header>
            <h1>
                <a href='/'>
                    Your Favorite Tech Blog!
                </a>
            </h1>
            <a href="/">Dashboard</a>
            <button>Log-In</button>
            <button>Log-Out</button>

        </header>
        <main>
            {{{ body }}}
        </main>

        <footer>
            Made with ❤️ By Ava Bullock
        </footer>
    </div>


</body>

</html>